.ntfc-header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.ntfc-header-title{
    font-weight: 600;
    font-size: 22px;
}
.ntfc-header-time{
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
}
.ntfc-title{
    font-size: 16px;
}
.ntfc-main{
    border: 1px solid var(--xzzd-border-color);
    border-radius: 8px;
    padding: 5px;
    margin-top: 5px;
}
.ntfc-link{
    color: var(--xzzd-link-color);
}
.ntfc-link:hover{
    text-decoration: underline;
    cursor: pointer;
}